In [2]:
import yfinance as yf
import pandas as pd
from bs4 import BeautifulSoup
import requests
import datetime

In [3]:
request = requests.get(
'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = BeautifulSoup(request.content)
main_table = soup.find(id='constituents')
table = main_table.find('tbody').findAll('tr')
table = table[1:]

tickers = []

for row in table:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

tickers = [s.replace('\n', '') for s in tickers]

base_url = 'https://en.wikipedia.org'

url_list = []

for item in table:
    url = base_url + str(item.findAll('a')[1]['href'])
    url_list.append(url)

df = pd.DataFrame()
df['tickers'] = tickers
df['url'] = url_list

In [4]:
df.tail()

    tickers                                                url
498     YUM          https://en.wikipedia.org/wiki/Yum!_Brands
499    ZBRA   https://en.wikipedia.org/wiki/Zebra_Technologies
500     ZBH        https://en.wikipedia.org/wiki/Zimmer_Biomet
501    ZION  https://en.wikipedia.org/wiki/Zions_Bancorpora...
502     ZTS               https://en.wikipedia.org/wiki/Zoetis

In [5]:
start = datetime.datetime(2020, 1, 1)
end = datetime.datetime(2022, 1, 1)
data = yf.download(tickers, start=start, end=end)
data.tail()

[*********************100%%**********************]  503 of 503 completed

6 Failed downloads:
['VLTO', 'CEG', 'KVUE', 'GEHC']: Exception("%ticker%: Data doesn't exist for startDate = 1577854800, endDate = 1641013200")
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2020-01-01 00:00:00 -> 2022-01-01 00:00:00)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

                      Adj Close                                     \
                              A        AAL        AAPL        ABBV
Date
2021-12-27 00:00:00  156.623337  18.170000  178.292877  124.346329
2021-12-28 00:00:00  157.057465  18.540001  177.264618  124.327820
2021-12-29 00:00:00  158.507858  18.049999  177.353622  125.225197
2021-12-30 00:00:00  158.734802  18.070000  176.186920  125.752525
2021-12-31 00:00:00  157.521179  17.959999  175.564072  125.262192

                                                                    \
                           ABNB         ABT       ACGL         ACN
Date
2021-12-27 00:00:00  171.679993  136.396820  43.930000  403.332092
2021-12-28 00:00:00  169.710007  135.442245  44.270000  403.273773
2021-12-29 00:00:00  167.440002  136.136475  44.599998  403.419495
2021-12-30 00:00:00  168.779999  135.953293  44.330002  401.875366
2021-12-31 00:00:00  166.490005  135.702606  44.450001  402.574615

                                             ...   Volume                     \
                           ADBE         ADI  ...     WYNN      XEL       XOM
Date                                         ...
2021-12-27 00:00:00  577.679993  168.991272  ...  2212800  1211500  12593700
2021-12-28 00:00:00  569.359985  167.941544  ...  1758900  1213900  12781000
2021-12-29 00:00:00  569.289978  169.039444  ...  2440100  1502600  12733600
2021-12-30 00:00:00  570.530029  168.326767  ...  2457700  1744500  11940300
2021-12-31 00:00:00  567.059998  169.280212  ...  2406200  5704600  14072000

                                                                        \
                        XRAY     XYL      YUM      ZBH    ZBRA    ZION
Date
2021-12-27 00:00:00  1268500  837200  1095400  1221065  636400  495500
2021-12-28 00:00:00   772100  402400   662000  1506581  139500  497200
2021-12-29 00:00:00  1112400  708800  1139300  2508771  128600  691600
2021-12-30 00:00:00  1119100  401400   538500  1304701   87500  413100
2021-12-31 00:00:00   578900  428900   757800   941008  117100  552900


                         ZTS
Date
2021-12-27 00:00:00   807000
2021-12-28 00:00:00  1004400
2021-12-29 00:00:00   939900
2021-12-30 00:00:00   859100
2021-12-31 00:00:00  1073400

[5 rows x 3018 columns]

In [6]:

returns_df = data.stack().reset_index().rename(index=str, columns={"level_1": "Symbol"}).sort_values(['Symbol','Date'])
returns_df.set_index('Date', inplace=True)
returns_df.head(20)

,Symbol,Adj Close,Close,High,Low,Open,Volume
Date,,,,,,,
2020-01-02,A,83.779137,85.949997,86.349998,85.199997,85.900002,1410500.0
2020-01-03,A,82.433990,84.570000,85.330002,84.500000,84.669998,1118300.0
2020-01-06,A,82.677673,84.820000,84.820000,83.599998,84.000000,1993200.0
2020-01-07,A,82.931122,85.080002,85.260002,83.940002,83.959999,1684700.0
2020-01-08,A,83.749893,85.919998,86.470001,85.199997,85.959999,1847600.0
2020-01-09,A,85.065788,87.269997,87.699997,86.169998,86.459999,1912700.0
2020-01-10,A,85.377708,87.589996,88.239998,87.320000,87.720001,1417000.0
2020-01-13,A,85.250999,87.459999,88.320000,86.739998,87.809998,1630200.0
2020-01-14,A,85.767616,87.989998,88.209999,86.699997,87.269997,1675200.0
2020-01-15,A,86.381721,88.620003,89.110001,87.550003,87.629997,1630400.0
2020-01-16,A,87.200493,89.459999,89.489998,88.860001,89.120003,1595900.0
2020-01-17,A,87.843811,90.120003,90.279999,89.209999,89.970001,3718300.0
2020-01-21,A,87.346703,89.610001,90.150002,89.459999,89.800003,2697400.0
2020-01-22,A,87.853561,90.129997,90.639999,89.839996,89.940002,1665800.0
2020-01-23,A,86.820343,89.070000,89.980003,88.660004,89.620003,1228300.0
2020-01-24,A,86.030800,88.260002,89.459999,87.580002,89.449997,1164500.0
2020-01-27,A,84.373718,86.559998,87.169998,86.209999,86.540001,1868000.0
2020-01-28,A,84.978088,87.180000,87.480003,86.190002,86.849998,1652200.0
2020-01-29,A,85.036560,87.239998,88.360001,87.150002,87.550003,1131500.0
2020-01-30,A,82.248795,84.379997,85.029999,83.599998,84.900002,3026700.0

In [7]:
returns_df.to_csv('../csv_dumps/sp500_returns.csv')

In [8]:
info_tickers = yf.Tickers(tickers)

info_df = pd.DataFrame()

for ticker in tickers:
    stock_info = info_tickers.tickers[ticker].info
    stock_info_df = pd.DataFrame.from_dict(stock_info, orient='index').T
    info_df = pd.concat([info_df, stock_info_df])

info_df.set_index('symbol', inplace=True)

info_df.tail()

,address1,city,state,zip,country,phone,website,industry,industryKey,industryDisp,...,pegRatio,targetHighPrice,targetLowPrice,targetMeanPrice,targetMedianPrice,recommendationMean,numberOfAnalystOpinions,earningsGrowth,fax,industrySymbol
symbol,,,,,,,,,,,,,,,,,,,,,
YUM,1441 Gardiner Lane,Louisville,KY,40213,United States,502 874 8300,https://www.yum.com,Restaurants,restaurants,Restaurants,...,1.73,160.0,116.0,138.1,136.0,2.4,21,0.281,NaN,NaN
ZBRA,3 Overlook Point,Lincolnshire,IL,60069,United States,847 634 6700,https://www.zebra.com,Communication Equipment,communication-equipment,Communication Equipment,...,5.21,340.0,183.0,265.67,275.0,2.4,9,NaN,NaN,NaN
ZBH,345 East Main Street,Warsaw,IN,46580,United States,574 373 3121,https://www.zimmerbiomet.com,Medical Devices,medical-devices,Medical Devices,...,2.27,150.0,99.0,129.38,130.0,2.6,24,-0.163,NaN,NaN
ZION,One South Main Street,Salt Lake City,UT,84133-1109,United States,801 844 7637,https://www.zionsbancorporation.com,Banks - Regional,banks-regional,Banks - Regional,...,-0.26,45.0,29.0,36.6,37.0,2.7,20,-0.191,NaN,NaN
ZTS,10 Sylvan Way,Parsippany,NJ,07054,United States,973 822 7000,https://www.zoetis.com,Drug Manufacturers - Specialty & Generic,drug-manufacturers-specialty-generic,Drug Manufacturers - Specialty & Generic,...,3.38,255.0,190.0,216.18,215.0,1.9,11,0.142,NaN,NaN

In [9]:
info_df.to_csv('../csv_dumps/sp500_info.csv')